.caption-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 100vh; /* Set the maximum height to the full viewport height */
}

.caption-text {
  color: aliceblue;
  font-weight: bolder;
  font-size: 40px;
  font-family: 'Lora';
  overflow: hidden;
}

.sub-caption {
  color: aliceblue;
  font-size: 35px;
  font-family: 'Lora';
  overflow: hidden;
}

.sub-content {
  font-size: 20px;
  font-family: 'Lora';
  line-height: 36px;
  color: #ffffffe2;
}

.button {
  margin-top: 0.5rem; /* Add margin between the caption and the buttons */
}

/* Responsive Styles */
@media (max-width: 1000px) {
  .caption-text {
    font-size: 30px;
  }
  .sub-caption {
    font-size: 30px;
  }
  .sub-content {
    font-size: 18px;
    display: none;
  }
}

@media (max-width: 760px) {
  .caption-text {
    font-size: 30px;
  }
  .sub-caption {
    font-size: 30px;
  }
  .sub-content {
    font-size: 18px;
    display: none;
  }
}

@media (max-width: 600px) {
  .caption-text {
    font-size: 20px;
  }
  .sub-caption {
    font-size: 20px;
  }
  .sub-content {
    display: none;
  }
  
}


